@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
} */

.page {
  background-color: white;
  color: black;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

