.page {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  padding: 2rem;
}

/* .shop {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.about {
  font-family: 'Inter', sans-serif;
}

.read {
  font-family: 'Montserrat', sans-serif;
}

.events {
  font-family: 'Lora', serif;
}

.faq {
  font-family: 'Poppins', sans-serif;
} */

